@font-face {font-family: righteous; src: url("./fonts/Righteous-Regular.ttf");}
@font-face {font-family: montaga; src: url("./fonts/Montaga-Regular.ttf");}
@font-face {font-family: roboto; src: url("./fonts/Roboto-Regular.ttf");}


*{
  font-family: 'Calibri', 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navbar{
  background-color: #fff;
  border-bottom: 4px solid #C4C4C4;
  .navbar-brand{
    display: flex;
      .header-logo{
          height: 40px;
          margin: 10px 0;
      }
      p{
        color: #2D3B7D;
        text-transform: uppercase;
        font-size: 36px;
        font-family: "righteous", "sans-serif";
        margin: 2px 0 0 35px;
      }
  }
  .nav-item{
      margin: 0 5px;
  }
  .nav-link{
      text-transform: capitalize;
      color: #000;
      padding: 8px 10px;
      font-family: "montaga", sans-serif;
      font-weight: bold;
      &:hover{
        color: #fff;
        background-color: #2D3B7D;
      }
  }
  .active-nav{
    color: #fff;
    background-color: #2D3B7D;
  }
}
@media only screen and (max-width: 720px) {
  #navbar{
    .navbar-brand{
        .header-logo{
            height: 30px;
            margin: 20px 0;
        }
        p{
          font-size: 26px;
          margin: 14px 0 0 30px;
        }
    }
  }
}


#home-header{
  .banner-1{
    background-color: #eb9481;
    display: flex;
    justify-content: center;
  }
  .banner-2{
    background-color: #A4F3BA;
    display: flex;
    justify-content: center;
  }
  .banner-text{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    padding: 50px;
    h1{
      font-size: 62px;
      font-family: "montaga", sans-serif;
      text-transform: capitalize;
    }
    p{
      font-weight: normal;
      font-size: 20px;
      text-align: center;
      font-family: "roboto", "sans-serif";
    }
    .get-app-btn{
      background-color: #2D3B7D;
      color: #fff;
      font-family: "montaga", sans-serif;
      font-size: 26px;
      text-transform: capitalize;
      padding: 5px 30px;
      border-radius: 20px;
    }
  }
}
@media only screen and (max-width: 620px) {
  #home-header{
    .banner-text{
      min-height: 90vh;
      h1{
        font-size: 46px;
      }
      p{
        font-size: 16px;
      }
      .get-app-btn{
        font-size: 22px;
      }
    }
  }
}


#second-section{
  .second-section-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    min-height: 80vh;
    h2{
      font-weight: 700;
      font-size: 42px;
      font-family: "montaga", sans-serif;
    }
    p{
      font-weight: normal;
      font-size: 20px;
      font-family: "roboto", "sans-serif";
      margin-top: 15px;
    }
    .card{
      width: 50%;
      margin: 0 auto;
      border: 2px solid #2D3B7D;
      border-radius: 20px;
      padding: 10px;
      .card-text{
        text-align: justify;
        font-family: "roboto", "sans-serif";
        font-size: 14px;
        font-weight: 600;
      }
      .read-more-btn{
        background-color: #2D3B7D;
        color: #fff;
        font-family: "montaga", sans-serif;
        font-size: 26px;
        border-radius: 20px;
        text-align: center;
        margin-top: 60px;
        display: inline-block;
      }
    }
  }
  .second-section-img{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }
}
@media only screen and (max-width: 1120px) {
  #second-section{
    .second-section-text{
      padding: 30px;
      h2{
        font-size: 28px;
      }
      p{
        font-size: 18px;
      }
      .card{
        width: 70%;
      }
    }
  }
}
@media only screen and (max-width: 620px) {
  #second-section{
    .second-section-text{
      min-height: 70vh;
      padding: 20px;
      h2{
        font-size: 28px;
      }
      p{
        font-size: 16px;
      }
      .card{
        width: 80%;
        .card-text{
          font-size: 12px;
        }
        .read-more-btn{
          font-size: 20px;
          margin-top: 60px;
        }
      }
    }
  }
}


#webinar-section{
  background-color: #215481;
  h2{
    color: #fff;
    font-size: 52px;
    font-family: "righteous", sans-serif;
    margin-bottom: 40px;
    text-align: center;
    text-transform: capitalize;
  }
  h3{
    text-align: center;
    color: #E7BB2F;
    font-size: 42px;
    font-family: "righteous", "sans-serif";
    margin-bottom: 50px;
  }
  #countdown {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 4px outset #fff;
    padding: 15px 30px 30px;
    .box {
      &::after{
        content: ":";
        float: right;
        margin-top: -70px;
        margin-right: -20px;
        font-weight: bolder;
        font-size: 36px;
      }
      p {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
      }
      .text {
        font-size: 12px;
        display: block;
        text-align: center;
        font-family: "roboto", "sans-serif";
      }
    }
    .col-3:last-child {
      .box {
        &::after{
          content: "";
        }
      }
    }
  }
  .registration-section{
    background-color: #eb9481;
    h4{
      text-align: center;
      padding: 0;
      color: #fff;
      font-size: 46px;
      font-family: "righteous", "sans-serif";
    }
    // .character{
    //   margin-bottom: -94px;
    //   z-index: -50;
    // }
    form{
      z-index: 50;
      color: red;
      background-color: #215481;
      padding: 50px 100px;
      border-radius: 75px;
      input{
        border: none;
        outline: none;
      }
      .btn-register{
        background-color: #fff;
        color: #215481;
        display: inline-block;
        padding: 2px 50px;
        font-family: "montaga", sans-serif;
        font-weight: bolder;
      }
    }
  }
  .webinar-section-img{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }
}
@media only screen and (max-width: 620px) {
  #webinar-section{
    h2{
      font-size: 36px;
    }
    h3{
      font-size: 24px;
    }
    #countdown {
      padding: 15px 5px 15px;
      .box {
        &::after{
          margin-top: -60px;
          margin-right: -20px;
          font-size: 18px;
        }
        p {
          font-size: 25px;
        }
        .text {
          font-size: 8px;
        }
      }
    }
    .registration-section{
      h4{
        text-align: center;
        padding: 0;
        color: #fff;
        font-size: 32px;
        font-family: "righteous", "sans-serif";
      }
      form{
        color: red;
        background-color: #215481;
        padding: 50px 30px;
        border-radius: 75px;
        input{
          border: none;
          outline: none;
        }
        .btn-register{
          background-color: #fff;
          color: #215481;
          display: inline-block;
          padding: 2px 50px;
          font-family: "montaga", sans-serif;
          font-weight: bolder;
        }
      }
    }
    .webinar-section-img{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 70vh;
    }
  }
}


#product-section{
  background-image: linear-gradient(#BBCBD8, #F4F5F7);
  h3{
    text-align: center;
    font-family: "montaga", sans-serif;
    font-weight: 600;
    font-size: 56px;
  }
  .associated-btn{
    background-color: #215481;
    color: #fff;
    font-family: "montaga", sans-serif;
    font-size: 28px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
  }
}


#home-why{
  h2{
    text-align: center;
    font-weight: bolder;
    font-size: 48px;
    text-transform: capitalize;
    margin-bottom: 40px;
  }
  .card{
    box-shadow: -0px -0px 20px -6px #000;
    padding: 20px 15px;
    border-radius: 10px;
    min-height: 350px;
    display: flex;
    justify-content: space-between;
    h4{
      font-size: 24px;
      text-align: center;
      padding: 20px 0 0 0;
      font-weight: 400;
      span{
        font-weight: 900;
      }
    }
  }
  .btn-know{
    background-color: #3C5DA0;
    color: #fff;
    &:hover{
      background-color: #17449c;
    }
  }
}


#reward{
  h2{
    font-weight: bolder;
    font-size: 48px;
    font-family: "montaga", sans-serif;
    margin-bottom: 20px;
  }
  p{
    font-weight: normal; 
    line-height: 1.5; 
    font-size: 24px;
    font-family: "roboto", sans-serif;
  }
  .btn-register{
    background-color: #3C5DA0;
    color: #fff;
    &:hover{
      background-color: #17449c;
    }
  }
}
@media only screen and (max-width: 620px) {
  #reward{
    h2{
      font-size: 24px;
    }
    p{
      font-size: 16px;
    }
    .btn-register{
      background-color: #3C5DA0;
      color: #fff;
      &:hover{
        background-color: #17449c;
      }
    }
  }
}


.copyright{
  background-color: #215481;
  color: #fff;
  text-align: center;
  box-shadow: -0px -0px 10px 0px #000;
  p{
    font-size: x-large;
    padding: 30px 0 10px;
  }
}
@media only screen and (max-width: 720px) {
  .copyright{
    p{
      font-size: 18px;
    }
  }
}