@font-face {font-family: righteous; src: url("./fonts/Righteous-Regular.ttf");}
@font-face {font-family: montaga; src: url("./fonts/Montaga-Regular.ttf");}
@font-face {font-family: roboto; src: url("./fonts/Roboto-Regular.ttf");}


*{
  font-family: 'Calibri', 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  border-bottom: 4px solid #C4C4C4;
  .navbar-brand{
    display: flex;
      .header-logo{
          height: 40px;
          margin: 10px 0;
      }
      p{
        color: #2D3B7D;
        text-transform: uppercase;
        font-size: 36px;
        font-family: "righteous", "sans-serif";
        margin: 2px 0 0 35px;
      }
  }
  .nav-item{
      margin: 0 5px;
  }
  .nav-link{
      text-transform: capitalize;
      color: #000;
      padding: 8px 10px;
      font-family: "montaga", sans-serif;
      font-weight: bold;
      &:hover{
        color: #fff;
        background-color: #2D3B7D;
      }
  }
  .active-nav{
    color: #fff;
    background-color: #2D3B7D;
  }
}
@media only screen and (max-width: 720px) {
  #navbar{
    .navbar-brand{
        .header-logo{
            height: 30px;
            margin: 20px 0;
        }
        p{
          font-size: 26px;
          margin: 14px 0 0 30px;
        }
    }
  }
}


#home-header{
  margin-top: 70px;
  .banner-1{
    .banner-1-bg{
      background-color: #e39d89;
    }
    .banner-1-text{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 50px;
      h3{
        font-size: 52px;
        text-align: center;
        text-transform: capitalize;
        font-family: "righteous", sans-serif;
      }
      .btn-banner{
        font-family: "montaga", sans-serif;
        background-color: #e39d89;
        color: #fff;
        text-transform: capitalize;
        padding: 10px 30px;
        border-radius: 5px;
        margin-top: 40px;
        text-decoration: none;
        font-weight: bolder;
      }
    }
  }
  .banner-2{
    .banner-2-bg{
      background-color: #a4f3bb;
    }
    .banner-2-text{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 50px;
      h3{
        font-size: 52px;
        text-align: center;
        text-transform: capitalize;
        font-family: "righteous", sans-serif;
      }
      .btn-banner{
        font-family: "montaga", sans-serif;
        background-color: #a4f3bb;
        color: #fff;
        text-transform: capitalize;
        padding: 10px 30px;
        border-radius: 5px;
        margin-top: 40px;
        text-decoration: none;
        font-weight: bolder;
      }
    }
  }
  .banner-3{
    .banner-3-bg{
      background-color: #215481;
    }
    .banner-3-text{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h4{
        background-color: #215481;
        color: #ff725e;
        text-transform: uppercase;
        padding: 2px 40px;
        font-family: "roboto", "sans-serif";
        margin: 20px 0;
        font-weight: bolder;
        text-align: center;
      }
      h3{
        font-size: 52px;
        text-align: center;
        text-transform: capitalize;
        color: #215481;
        font-family: "righteous", sans-serif;
      }
      h5{
        font-family: "roboto", "sans-serif";
        text-align: center;
        font-size: 26px;
        font-weight: bolder;
        margin: 20px 0;
      }
      .btn-webinar{
        background-color: #ff725e;
        text-transform: uppercase;
        color: #215481;
        font-weight: bolder;
        text-align: center;
        font-size: x-large;
        padding: 10px 30px;
        border-radius: 10px;
        line-height: 25px;
        text-decoration: none;
        font-family: "montaga", sans-serif;
      }
      p{
        color: #ff725e;
        text-align: center;
        font-weight: bolder;
        font-size: 24px;
        line-height: 25px;
        margin-top: 20px;
      }
    }
  }
}


#second-section{
  .second-section-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    min-height: 80vh;
    h2{
      font-weight: 700;
      font-size: 42px;
      font-family: "montaga", sans-serif;
    }
    p{
      font-weight: normal;
      font-size: 20px;
      font-family: "roboto", "sans-serif";
      margin-top: 15px;
    }
    .card{
      width: 50%;
      margin: 0 auto;
      border: 2px solid #2D3B7D;
      border-radius: 20px;
      padding: 10px;
      .card-text{
        text-align: justify;
        font-family: "roboto", "sans-serif";
        font-size: 14px;
        font-weight: 600;
      }
      .read-more-btn{
        background-color: #2D3B7D;
        color: #fff;
        font-family: "montaga", sans-serif;
        font-size: 26px;
        border-radius: 20px;
        text-align: center;
        margin-top: 60px;
        display: inline-block;
      }
    }
  }
  .second-section-img{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }
}
@media only screen and (max-width: 1120px) {
  #second-section{
    .second-section-text{
      padding: 30px;
      h2{
        font-size: 28px;
      }
      p{
        font-size: 18px;
      }
      .card{
        width: 70%;
      }
    }
  }
}
@media only screen and (max-width: 620px) {
  #second-section{
    .second-section-text{
      min-height: 70vh;
      padding: 20px;
      h2{
        font-size: 28px;
      }
      p{
        font-size: 16px;
      }
      .card{
        width: 80%;
        .card-text{
          font-size: 12px;
        }
        .read-more-btn{
          font-size: 20px;
          margin-top: 60px;
        }
      }
    }
  }
}


#webinar{
  margin-top: 70px;
  background-color: #215481;
  h2{
    color: #fff;
    font-size: 42px;
    font-family: "righteous", sans-serif;
    margin-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
  }
  h3{
    text-align: center;
    color: #E7BB2F;
    font-size: 42px;
    font-family: "righteous", "sans-serif";
    margin-bottom: 30px;
  }
  #countdown {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 4px outset #fff;
    padding: 10px 0 20px;
    .box {
      &::after{
        content: ":";
        float: right;
        margin-top: -70px;
        margin-right: -20px;
        font-weight: bolder;
        font-size: 36px;
      }
      p {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0;
      }
      .text {
        font-size: 12px;
        display: block;
        text-align: center;
        font-family: "roboto", "sans-serif";
      }
    }
    .col-3:last-child {
      .box {
        &::after{
          content: "";
        }
      }
    }
  }
  .registration-section{
    h4{
      color: #fff;
      text-align: center;
      padding: 0;
      font-size: 42px;
      font-family: "righteous", "sans-serif";
    }
    // .character{
    //   margin-bottom: -94px;
    //   z-index: -50;
    // }
    form{
      z-index: 50;
      color: red;
      padding: 50px 100px;
      border-radius: 75px;
      input{
        border: none;
        outline: none;
      }
      .btn-register{
        background-color: #E7BB2F;
        color: #215481;
        display: inline-block;
        padding: 2px 50px;
        font-family: "montaga", sans-serif;
        font-weight: bolder;
      }
    }
  }
  .webinar-section-img{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }
}
@media only screen and (max-width: 720px) {
  #webinar{
    h2{
      font-size: 36px;
    }
    h3{
      font-size: 24px;
    }
    #countdown {
      padding: 15px 5px 15px;
      .box {
        &::after{
          margin-top: -45px;
          margin-right: -20px;
          font-size: 18px;
        }
        p {
          font-size: 25px;
        }
        .text {
          font-size: 8px;
        }
      }
    }
    .registration-section{
      h4{
        text-align: center;
        padding: 0;
        color: #fff;
        font-size: 32px;
        font-family: "righteous", "sans-serif";
      }
      form{
        color: red;
        padding: 50px 30px;
        border-radius: 75px;
        input{
          border: none;
          outline: none;
        }
        .btn-register{
          color: #215481;
          display: inline-block;
          padding: 2px 50px;
          font-family: "montaga", sans-serif;
          font-weight: bolder;
        }
      }
    }
    .webinar-section-img{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 70vh;
    }
  }
}


#product-section{
  background-image: linear-gradient(#BBCBD8, #fff);
  h3{
    text-align: center;
    font-family: "montaga", sans-serif;
    font-weight: 600;
    font-size: 56px;
  }
  .associated-btn{
    background-color: #215481;
    color: #fff;
    font-family: "montaga", sans-serif;
    font-size: 28px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
  }
}


#home-why{
  h2{
    text-align: center;
    font-weight: bolder;
    font-size: 48px;
    text-transform: capitalize;
    margin-bottom: 40px;
  }
  .card{
    box-shadow: -0px -0px 20px -6px #000;
    padding: 20px 15px;
    border-radius: 10px;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    h4{
      font-size: 24px;
      text-align: center;
      padding: 20px 0 0 0;
      font-weight: 400;
      span{
        font-weight: 900;
      }
    }
  }
  .btn-know{
    background-color: #3C5DA0;
    color: #fff;
    &:hover{
      background-color: #17449c;
    }
  }
}


#reward{
  h2{
    font-weight: bolder;
    font-size: 48px;
    font-family: "montaga", sans-serif;
    margin-bottom: 20px;
  }
  p{
    font-weight: normal; 
    line-height: 1.5; 
    font-size: 24px;
    font-family: "roboto", sans-serif;
  }
  .btn-register{
    background-color: #3C5DA0;
    color: #fff;
    &:hover{
      background-color: #17449c;
    }
  }
}
@media only screen and (max-width: 620px) {
  #reward{
    h2{
      font-size: 48px;
    }
    p{
      font-size: 16px;
    }
    .btn-register{
      background-color: #3C5DA0;
      color: #fff;
      &:hover{
        background-color: #17449c;
      }
    }
  }
}

#contact-us{
  h1{
    font-family: "montaga", sans-serif;
    color: #215481;
    font-weight: bolder;
  }
  label{
    color: #215481;
    font-weight: bolder;
    font-family: "roboto", "sans-serif";
    span{
      color: red;
    }
  }
  .btn-get-started{
    background-color: #215481;
    color: #fff;
    border: none;
    padding: 5px 30px;
    border-radius: 5px;
  }
}


#download-app{
  background-image: url(./assets//download-app-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin-top: 70px;
  background-color: #215481;
  .download-app-text-corner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3{
      color: #fff;
      font-family: "montaga", sans-serif;
      font-weight: bold;
      font-size: 44px;
    }
    .Hourglass{
      margin: 40px 0;
      height: 160px;
    }
    #countdown {
      color: #fff;
      .box {
        &::after{
          content: ":";
          float: right;
          margin-top: -77px;
          margin-right: -20px;
          font-weight: bolder;
          font-size: 36px;
        }
        p {
          margin: 0;
          font-size: 40px;
          font-weight: bold;
          text-align: center;
        }
        .text {
          font-size: 12px;
          display: block;
          text-align: center;
          font-family: "roboto", "sans-serif";
        }
      }
      .col-3:last-child {
        .box {
          &::after{
            content: "";
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1080px) {
  #download-app{
    .download-app-text-corner{
      h3{
        font-size: 32px;
      }
    }
  }
}


.copyright{
  background-color: #215481;
  color: #fff;
  text-align: center;
  box-shadow: -0px -0px 10px 0px #000;
  p{
    font-size: x-large;
    padding: 30px 0 10px;
  }
}
@media only screen and (max-width: 720px) {
  .copyright{
    p{
      font-size: 18px;
    }
  }
}